controller:
  progressDeadlineSeconds: 30
  ingressClassResource:
    name: nginx
    enabled: true
  extraArgs:
    default-ssl-certificate: "ingress-nginx/wildcard-k8s-lab-tls"
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
