nodeSelector:
  monitoring: "yes"

prometheus:
  url: http://kube-prometheus-stack-prometheus.monitoring

rules:
  default: false
  external:
    - seriesQuery: 'nginx_ingress_controller_request_duration_seconds_count{ingress!=""}'
      resources:
        overrides:
          exported_namespace:
            resource: "namespace"
          ingress:
            resource: "ingress"
      name:
        as: "nginx_ingress_avg_ms"
      metricsQuery: |
        sum by (ingress, exported_namespace) (
          rate(nginx_ingress_controller_request_duration_seconds_sum{<<.LabelMatchers>>}[1m])
        )
        /
        sum by (ingress, exported_namespace) (
          rate(nginx_ingress_controller_request_duration_seconds_count{<<.LabelMatchers>>}[1m])
        ) * 1000
    - seriesQuery: 'request_duration_seconds_sum{namespace!="",pod!=""}'
      resources:
        overrides:
          namespace:
            resource: "namespace"
          pod:
            resource: "pod"
      name:
        as: "znn_latency_ms_average"
      metricsQuery: >
        1000 *
        sum(rate(request_duration_seconds_sum{host="znn"}[30s]))
        /
        sum(rate(request_duration_seconds_count{host="znn"}[30s]))

