[submodule "kube-znn"]
	path = kube-znn
	url = git@github.com:custom-self-adapter/kube-znn.git
	branch = csa
[submodule "vagrant-kubeadm-kubernetes"]
	path = vagrant-kubeadm-kubernetes
	url = git@github.com:custom-self-adapter/vagrant-kubeadm-kubernetes.git
	branch = ca-inject
