[submodule "kube-znn"]
	path = kube-znn
	url = git@gitlab.com:script-scaler/kube-znn.git
	branch = script-scaler
[submodule "vagrant-kubeadm-kubernetes"]
	path = vagrant-kubeadm-kubernetes
	url = git@gitlab.com:script-scaler/vagrant-kubeadm-kubernetes.git
