evaluate:
  type: "shell"
  timeout: 2500
  shell:
    entrypoint: "python"
    command:
      - "/scripts/evaluate.py"
metric:
  type: "shell"
  timeout: 2500
  shell:
    entrypoint: "python"
    command:
      - "/scripts/metric_frontend_latency.py"
    logStderr: true
kubernetesMetricSpecs:
  - type: External
    external:
      metric:
        name: frontend_latency_p95_ms
        selector:
          matchLabels:
            ingress: "kube-znn"
      target:
        type: Value
        value: "2500m"
runMode: "per-resource"
minReplicas: 1
maxReplicas: 8
interval: 30000
requireKubernetesMetrics: true
logVerbosity: 1