metric:
  type: "shell"
  timeout: 1000
  shell:
    entrypoint: "python"
    command:
      - "/scripts/metric_nginx_req_duration.py"
    logStderr: true
evaluate:
  type: "shell"
  timeout: 2000
  shell:
    entrypoint: "python"
    command:
      - "/scripts/evaluate.py"
adapt:
  adapt_replicas:
    type: "shell"
    timeout: 1000
    shell:
      entrypoint: "python"
      command:
        - "/scripts/adapt_replicas.py"
  adapt_tag:
    type: "shell"
    timeout: 1000
    shell:
      entrypoint: "python"
      command:
        - "/scripts/adapt_tag.py"
kubernetesMetricSpecs:
  - type: External
    external:
      metric:
        name: znn_latency_ms_average
      target:
        type: Value
        value: 1000
interval: 5000
minReplicas: 1
maxReplicas: 5
requireKubernetesMetrics: true
logVerbosity: 3
